.layout {
  display: flex;
  height: 100%;
}

.lista {
  width: 35%;
  border-right: 1px solid #ccc;
}

.chat {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.mensajes {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.mensaje {
  background: #e8e8ff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.input-chat {
  display: flex;
  padding: 10px;
  gap: 10px;
}
