.header-gradient {
  --background: linear-gradient(90deg, #0033a0, #673ab7);
  --color: #ffffff;
}

.card-solicitud {
  border-radius: 18px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, .06);
  margin-bottom: 12px;
}

.precio {
  font-size: 14px;
  ion-icon {
    margin-right: 6px;
  }
}

.estado {
  margin-top: 8px;
}
