.mensajes {
  padding: 15px;
}

.burbuja {
  max-width: 75%;
  background: #fff;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.burbuja.mine {
  margin-left: auto;
  background: #0033a0;
  color: white;
}

ion-footer {
  ion-item {
    --background: #fff;
  }
}
