.register-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.register-img {
  flex: 1;
}

.register-img img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.register-form {
  flex: 1;
  max-width: 480px;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.titulo-register {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  font-size: 34px;
}

.sub-register {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.btn-registrar {
  --background: #540468;
  --background-hover: #8d1991;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 20px;
}
/* Responsivo para celular */
@media (max-width: 768px) {
  .register-layout {
    flex-direction: column;
  }

  .register-img {
    width: 100%;
  }
}
