<ion-header>
  <ion-toolbar color="primary">
    <ion-title>movistarexamen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-container">

  <h2 class="titulo">Bienvenido a Tigo Conecta</h2>
  <p class="subtitulo">Explora los planes móviles disponibles.</p>

  <!-- GRID DE 2 IMÁGENES -->
  <div class="grid-imagenes">
    <img src='assets/planes/principal.jpg'>
  <img src='assets/planes/principal1.jpg'>
  </div>

  <!-- BOTONES -->
  <ion-button expand="block" routerLink="/catalogo-publico" class="btn1">
    Ver catálogo de planes
  </ion-button>

  <ion-button expand="block" routerLink="/login" fill="clear" class="btn2">
    Iniciar sesión
  </ion-button>

</ion-content>
