.perfil-content {
  padding: 20px;
}

.perfil-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,.1);
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #663fff;
}

p {
  margin: 5px 0;
  color: #444;
}